

<!-- <form method="post">
    {% csrf_token %}
    {{ book_form.as_p }}
    <button type="submit">Add Book</button>
</form> -->

<div class="card-body">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}" class="form-label-title">{{ form.title.label }} :</label>
        <div class="form-field">{{ form.title }}</div>
    </div>
    
    <div class="form-group">
        <label for="{{ form.isbn.id_for_label }}" class="form-label-isbn">{{ form.isbn.label }} :</label>
        <div class="form-field">{{ form.isbn }}</div>
        {% if form.isbn.errors %}
        <div class="error">{{ form.isbn.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="{{ form.publication_year.id_for_label }}" class="form-label">{{ form.publication_year.label }} :</label>
        <div class="form-field">{{ form.publication_year }}</div>
        {% if form.publication_year.errors %}
        <div class="error">{{ form.publication_year.errors }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.available_copies.id_for_label }}" class="form-label">{{ form.available_copies.label }} :</label>
        <div class="form-field">{{ form.available_copies }}</div>
        {% if form.available_copies.errors %}
        <div class="error">{{ form.available_copies.errors }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.cover_image.id_for_label }}" class="form-label">{{ form.cover_image.label }} :</label>
        <div class="form-field">{{ form.cover_image }}</div>
    </div>

    <div class="form-group-label">
        <label for="{{ form.genres.id_for_label }}" class="form-label">{{ form.genres.label }} :</label>
        <div class="form-field">{{ form.genre_name }}</div>
        <!-- <i class="fa fa-hand-pointer" aria-hidden="true" id="add-genre-btn" style="font-size: 20px;"></i> -->
        <!-- {% if form.genres.errors %}
        <div class="error">{{ form.genres.errors }}</div>
        {% endif %} -->
        <div class="form-field">{{ form.genres }}</div>
    </div>

    <div class="form-group-label">
        <label for="{{ form.authors.id_for_label }}" class="form-label">{{ form.authors.label }} :</label>
        <div class="form-field">{{ form.author_name }}</div>
        <!-- <i class="fa fa-hand-pointer" aria-hidden="true" id="add-author-btn" style="font-size: 20px;"></i> -->
        {% if form.authors.errors %}
        <div class="error">{{ form.authors.errors }}</div>
        {% endif %}
        <div class="form-field">{{ form.authors }}</div>
        <script type="text/javascript" src="{% url 'jsi18n' %}"></script>   
    </div>
    <div class="button-container">
        <button type="submit" class="btn" style="background-color:#437e65; color:white;">Save Book</button>
    </div>
</form>
</div>
