{% extends 'libraryApp/base.html' %}
{% block content %}
{%load static%}
  <link rel="stylesheet" href="{% static 'libraryApp/add_book.css' %}">
<div class="container" style="margin-top: 80px;">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm border-light">
                <div class="card-header" style="background-color:#437e65;">
                    <h5 class="card-title mb-0" style="color: white;">
                    {% if form.instance.pk %}Edit{% else %}Add Book{% endif %} 
                    </h5>
                </div>
            <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}" class="form-label-title">{{ form.title.label }} :</label>
                        <div class="form-field">{{ form.title }}</div>
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ form.isbn.id_for_label }}" class="form-label-isbn">{{ form.isbn.label }} :</label>
                        <div class="form-field">{{ form.isbn }}</div>
                        {% if form.isbn.errors %}
                        <div class="error">{{ form.isbn.errors }}</div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ form.publication_year.id_for_label }}" class="form-label">{{ form.publication_year.label }} :</label>
                        <div class="form-field">{{ form.publication_year }}</div>
                        {% if form.publication_year.errors %}
                        <div class="error">{{ form.publication_year.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.available_copies.id_for_label }}" class="form-label">{{ form.available_copies.label }} :</label>
                        <div class="form-field">{{ form.available_copies }}</div>
                        {% if form.available_copies.errors %}
                        <div class="error">{{ form.available_copies.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.cover_image.id_for_label }}" class="form-label">{{ form.cover_image.label }} :</label>
                        <div class="form-field">{{ form.cover_image }}</div>
                    </div>

                    <div class="form-group-label">
                        <label for="{{ form.genres.id_for_label }}" class="form-label">{{ form.genres.label }} :</label>
                        <i class="fa fa-hand-pointer" aria-hidden="true" id="add-genre-btn" style="font-size: 20px;"></i>
                        {% if form.genres.errors %}
                        <div class="error">{{ form.genres.errors }}</div>
                        {% endif %}
                        <div class="form-field">{{ form.genres }}</div>
                    </div>
                    <div class="form-group-label">
                        <label for="{{ form.authors.id_for_label }}" class="form-label">{{ form.authors.label }} :</label>
                        <i class="fa fa-hand-pointer" aria-hidden="true" id="add-author-btn" style="font-size: 20px;"></i>
                        {% if form.authors.errors %}
                        <div class="error">{{ form.authors.errors }}</div>
                        {% endif %}
                        <div class="form-field">{{ form.authors }}</div>
                        <script type="text/javascript" src="{% url 'jsi18n' %}"></script>   
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn" style="background-color:#437e65; color: white;">Save Book</button>
                    </div>
                </form>
            </div>
         </div>
         </div>
    </div>
</div>

<!-- popup form for add Author -->

<div id="author-popup" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
    <div class="popup-content" style="background:#fff; margin:80px auto; padding:20px; width:80%; max-width:600px;">
        <div class="card">
            <div class="card-header"style="background-color:#437e65;">
                <h5 class="card-title mb-0" style="color: white;">Add Author</h5>
            </div>
            <div class="card-body"> 
                <form id="author-form" method="post">
                    {% csrf_token %}
                    {{ author_form.as_p }}
                    <input type="hidden" name="form_type" value="author_form">
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary" style="margin-right: 20px;background-color:#437e65; color: white;">Save</button>
                        <button type="button" class="btn btn-secondary" id="close-author-popup">Cancel</button>
                    </div>  
                </form>
             </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('add-author-btn').addEventListener('click', function() {
        document.getElementById('author-popup').style.display = 'block';
    });

    document.getElementById('close-author-popup').addEventListener('click', function() {
        document.getElementById('author-popup').style.display = 'none';
    });   
</script>

<!-- popup form for genre -->

<div id="genre-popup" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
    <div class="popup-content" style="background:#fff; margin:80px auto; padding:20px; width:80%; max-width:600px;">
        <div class="card">
            <div class="card-header"style="background-color:#437e65;">
                <h5 class="card-title mb-0" style="color:white;">Add Genre</h5>
            </div>
            <div class="card-body">
                <form id="genre-form" method="post">
                    {% csrf_token %}
                    {{ genre_form.as_p }}
                    <input type="hidden" name="form_type" value="genre_form">
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary" style="margin-right: 20px;background-color:#437e65; color: white;">Save</button>
                        <button type="button" class="btn btn-secondary" id="close-genre-popup">Cancel</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('add-genre-btn').addEventListener('click', function() {
        document.getElementById('genre-popup').style.display = 'block';
    });

    document.getElementById('close-genre-popup').addEventListener('click', function() {
        document.getElementById('genre-popup').style.display = 'none';
    });

</script>
{% endblock %}

